/* Color and Fonts */
:root {
    --marble: #f4f4f4;
    --midnight: #1B273A;
    --oaktree: #C5A686;
}

/* FUNDAMENTALS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: var(--marble);
    scroll-behavior: smooth;
    line-height: 1.65;
    overflow-x: hidden;
}

body,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
div,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--midnight);
    list-style: none;
}

a {
    cursor: pointer;
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(.8rem, 1vw, 1rem);
}

h1 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
}

h2 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(4.1rem, 1.5vw, 4.5rem);
    text-transform: uppercase;
}

h3 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(1rem, 1.0vw, 1.7rem);
    text-transform: uppercase;
}

p {
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(.8rem, 1vw, 1rem);
    line-height: 1.5rem;
}

button {
    font-family: nimbus-sans-extended, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--midnight);
    padding: 3px 5px;
    transition: .2s;
    cursor: pointer;
}

button:hover {
    background: var(--midnight);
    color: var(--marble);
}


/* NAV */
nav {
    height: 120px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 5;
    transition: .2s;
}

#nav-logo {
    width: 90px;
    margin-left: 120px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

#nav-logo img {
    width: 100%;
}

.navlinks1 {
    margin-right: 120px;
    justify-content: space-between;
    width: 60%;
    display: flex;
    position: relative;
    transform: translateY(-50%);
    float: right;
    letter-spacing: 2px;
}

.navlinks2 {
    display: none;
}

.navlinks1 a {
    color: var(--marble);
    text-transform: uppercase;
    font-weight: bold;
}

.navlinks1 a:hover {
    color: var(--oaktree);
    transition: .2s ease-in-out;
}

.navlinks1 a,
.navlinks1 a:hover {
    font-size: clamp(.6rem, .8vw, 1rem);
}

.burger,
.burgerlinks {
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    body {
        overflow-x: hidden;
    }

    nav {
        width: 100%;
        left: 0%;
        justify-content: flex-end;
    }

    .navlinks1 {
        display: none;
    }

    .navlinks2 {
        position: absolute;
        height: 100vh;
        float: left;
        top: 0;
        display: block;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: 0.2s ease-in-out;
        font-size: 8px;
        overflow-x: hidden;
    }

    .navlinks2 a {
        color: var(--marble);
        width: 80%;
        display: none;
    }

    .nav-active {
        transform: translateX(0%);
        background-image: url(/img/arch/burger-pic.png);
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
    }

    .nav-active a {
        display: block;
        width: 100%;
        height: 100%;
        display: table-cell;
        text-align: left;
    }

    .burger {
        display: block;
        width: 40px;
        height: 25px;
        border-top: 7px solid #f4f4f4;
        border-right: 7px solid #f4f4f4;
        border-bottom: 7px solid #f4f4f4;
        margin-right: 120px;
        position: absolute;
        right: 0;
        top: 55%;
        transform: translateY(-65%);
        transition: all 0.2s ease-in-out;
    }

    .burger1,
    .burger2 {
        display: block;
        width: 50%;
        height: 100vh;
        position: relative;
        padding: 2vh 0;
        top: 120px;
    }

    .burger1 li,
    .burger2 li {
        margin-left: 120px;
        width: 65%;
        transition: 0.2s;
        display: table;
        overflow-x: hidden;
        position: relative;
    }

    .burger1 {
        float: left;
        text-transform: uppercase;
    }

    .burger1 li {
        height: 11vh;
    }

    .burger1 a {
        font-size: clamp(1rem, 2.5vw, 5rem);
        font-weight: 600;
    }

    .burger2 {
        float: right;
    }

    .burger2 li {
        height: 3vh;
    }

    .burger2 a {
        font-size: clamp(.8rem, 1vw, 1rem);
    }

    .headline h3 {
        font-size: clamp(1.5rem, 1.5vw, 2.5rem);
        color: var(--marble);
        padding: 10px 0 5px 0;
    }

    .burger-some {
        margin: 50px 0;
    }

    .somelinks {
        width: 50px;
        margin-left: 120px;
    }

    .somelink img {
        margin: 0 15px 0 0;
        width: 30px;
    }

    .somelink:hover {
        opacity: .6;
    }

    .burgertekst {
        width: 50%;
    }

    .burgertekst p {
        color: var(--marble);
    }

    .burger1 li:hover a {
        border-bottom: 4px solid var(--marble);
        width: 30%;
        position: absolute;
        left: 0;
        transition: all 0.2s ease-in-out;
        font-size: clamp(4.5rem, 6vw, 6.5rem);
    }

    .burger2 li:hover a {
        font-weight: 600;
    }

    .news-input {
        width: 50px;
        margin: 10px 0 0 120px;
        border: none;
    }

    input {
        margin: 5px 0 10px 0;
    }

    #newsletter {
        height: 30px;
        padding-left: 8px;
        width: 15vw;
    }

    .news-btn {
        background-color: var(--oaktree);
        border: none;
        color: var(--marble);
        width: 100px;
        height: 30px;
    }

    .news-btn:hover {
        background-color: #a38e78;
        font-weight: bold;
    }

    /*    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(100px);
        }
  
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }
*/
    .burger.toggle {
        width: 25px;
    }

    .border {
        height: 0px;
        width: 7px;
        background-color: var(--marble);
        transition: all 0.2s ease-in-out;
    }

    .burger.toggle .border {
        height: 18px;
        position: absolute;
        z-index: 5;
    }

}

@media only screen and (max-width: 1280px) {
    .headline h3 {
        padding: 0px 0 0px 0;
    }

    .burger-some {
        margin: 20px 0;
    }
}

@media only screen and (max-width: 700px) {
    .nav-logo {
        margin-left: 40px;
    }

    .burger {
        margin-right: 40px;
    }

    .burger1,
    .burger2 {
        width: 100%;
        height: auto;
        padding: 5vh 0;
        top: 100px;
    }

    .burger2 {
        top: 50px;
    }

    .burger1 a {
        text-align: center;
    }

    .burger1 li {
        height: 5vh;
    }

    .burger2 a,
    .burger2 p,
    .headline h3 {
        text-align: center;
    }

    .burger-some {
        margin: 60px 0;
    }

    .somelinks {
        position: absolute;
        left: 13%;
        transform: translateX(-50%);
        margin-bottom: 5px;
    }

    .burgertekst {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    #newsletter {
        width: 40vw;
    }

    .news-input {
        position: absolute;
        left: 10%;
        transform: translateX(-50%);
    }

    .news-btn {
        position: absolute;
        left: 140%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 420px) {

    .burger1 li,
    .burger2 li {
        width: 45%;
    }
}

@media only screen and (max-width: 3600px) {

    .burger1 li,
    .burger2 li {
        width: 40%;
    }
}

.solid-menu {
    background: #FFF;
    box-shadow: -2px 0 12px rgba(0, 0, 0, 0.3);
}

.solid-menu a {
    color: var(--midnight);
}

/* END OF NAV SECTION */



/* START OF HERO */

#hero {
    height: 100vh;
    position: relative;
    background-image: url(../img/hero/efterslaegten-nobis-hero-blaa.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#hero #laark-lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
}

#hero .arrow-down {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 50px;
    width: 15px;
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
    transition: .2s;
}

#hero .arrow-down:hover {
    bottom: 48px;
}

@-webkit-keyframes swing {
    15% {
        bottom: 55px;
    }

    30% {
        bottom: 45px;
    }

    50% {
        bottom: 53px;
    }

    65% {
        bottom: 47px;
    }

    80% {
        bottom: 52px;
    }

    100% {
        bottom: 50px;
    }
}

@keyframes swing {
    15% {
        bottom: 55px;
    }

    30% {
        bottom: 45px;
    }

    50% {
        bottom: 53px;
    }

    65% {
        bottom: 47px;
    }

    80% {
        bottom: 52px;
    }

    100% {
        bottom: 50px;
    }
}

/* END OF HERO */

/* START OF PROJECTS */

#projects {
    background: var(--marble);
    padding: 120px 120px 0;
}

#projects button {
    margin-top: 10px;
}

#projects section {
    margin-bottom: 120px;
    position: relative;
    height: 80vh;
}

#projects section h2 {
    margin-bottom: -20px;
}

.text-columns-2 {
    column-count: 2;
}

.project-left .project-image {
    width: calc(50% - 120px);
    overflow: hidden;
    height: 80vh;
    position: relative;
}

.project-left .project-text {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 50%;
}

.project-left .project-image img {
    min-height: 100%;
    min-width: 100%;
    max-height: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-left .end-line {
    border-bottom: 1px solid #000;
    width: 25%;
    position: absolute;
    left: 50%;
    bottom: 0;
}

.project-right .project-image {
    width: calc(50% - 120px);
    overflow: hidden;
    height: 80vh;
    position: absolute;
    right: 0;
}

.project-right .project-text {
    width: 50%;
    position: absolute;
    bottom: 0;
    height: 50%;
}

.project-right .project-image img {
    min-height: 100%;
    min-width: 100%;
    max-height: 110%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-right .end-line {
    border-bottom: 1px solid #000;
    width: 25%;
    position: absolute;
    left: 0;
    bottom: 0;
}






/* END OF PROJECTS */
