/* Color and Fonts */
:root {
    --marble: #f4f4f4;
    --midnight: #1B273A;
    --oaktree: #C5A686;
}

/* FUNDAMENTALS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: var(--midnight);
    scroll-behavior: smooth;
    line-height: 1.65;
    overflow-x: hidden;
}

body,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
div,
span {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--midnight);
    list-style: none;
}

a {
    cursor: pointer;
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(.8rem, 1vw, 1rem);
}

h1 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(1.5rem, 2.5vw, 2rem); 
}

h2 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(1.5rem, 1.5vw, 2.5rem); 
}

h3 {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: clamp(1rem, 1.0vw, 1.7rem); 
}

p {
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(.8rem, 1vw, 1rem);
}



/* NAV */
nav {
    height: 120px;
    width: 100%;
    display: block;
    position: fixed;
    z-index: 5;
}

.nav-logo {
    width: 110px;
    height: 80px;
    margin-left: 120px;
    position: relative;
    top: 55%;
    transform: translateY(-45%);
}

.nav-logo img {
    width: 110px;
}

.navlinks {
    margin-right: 120px;
    justify-content: space-between;
    width: 60%;
    display: flex;
    position: relative;
    transform: translateY(-100%);
    float: right;
    letter-spacing: 3px;
}

.navlinks a {
    color: var(--marble);
    text-transform: uppercase;
}

.navlinks a:hover {
    color: var(--oaktree);
    transition: ease-in;
}

.navlinks a, .navlinks a:hover {
    font-size: clamp(.6rem, .8vw, 1rem);
}

.burger, .burgerlinks {
    display: none;
    cursor: pointer;
}

  @media only screen and (max-width: 1100px) {
    body {
        overflow-x: hidden;
    }
  
    nav {
        width: 100%;
        left: 0%;
        justify-content: flex-end;
    }
  
    .navlinks {
        position: absolute;
        height: 100vh;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: 0.5s ease-in-out;
        font-size: 8px;
        overflow-x: hidden;
    }
  
    .navlinks li {
        opacity: 0;
        width: 100%;
        transition: 0.2s;
        display: table;
        height: 6vh;
        overflow-x: hidden;
        position: relative;
        top: 20%;
    }
  
    .navlinks a {
        color: black;
        width: 80%;
        display: none;
    }

    .burger {
        display: block;
        width: 40px;
        height: 25px;
        border-top: 7px solid #f4f4f4;
        border-right: 7px solid #f4f4f4;
        border-bottom: 7px solid #f4f4f4;
        margin-right: 120px;
        position: absolute;
        right: 0;
        top: 55%;
        transform: translateY(-55%);
        transition: all 0.5s ease-in-out;
    }

    .nav-active {
        transform: translateX(0%);
        background-color: rgba(255, 255, 255, 0.409);
        z-index: 3;
    }
  
    .nav-active a {
        display: block;
        width: 100%;
        height: 100%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
  
    .navlinks li:hover a {
        font-weight: 600;
    }
  
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
  
        to {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    .burger.toggle {
        width: 25px;
    }

    .border {
        height: 0px;
        width: 7px;
        background-color: var(--marble);
        transition: all 0.5s ease-in-out;
    }

    .burger.toggle .border {
        height: 18px;
        position: absolute;
        
    }

  }
  /*
  @media only screen and (max-width: 1000px) {
    .burger {
      margin-right: 12%;
  }
  }
  
  @media only screen and (max-width: 500px) {
    .nav-active {
        width: 100%;
    }
  }
  /* END OF NAV SECTION */
  